/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.5px;

  background-color: #202020;
  color: #959595;

  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #dedede;
  transition: 0.3s;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Btn */
.btn::before {
  content: "";
  width: 21px;
  height: 21px;

  background-image: url(images/mail.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 16px 48px;
  
  font-size: 18px;
  color: #fff;
  
  background-color: #9d9d9d;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.8;
}

.title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #dedede;
}

/* Header Section */
.header {
  backdrop-filter: blur(20px);
  background: rgba(50, 50, 50, 0.7);
  color: #dedede;

  padding: 20px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 56px;
}

.nav__link {
  font-weight: 700;
  font-size: 18px;
  position: relative;
}

.nav__link:hover {
  color: #959595
}

.nav__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;

  width: 0%;
  height: 2px;
  background-color: #959595;
  transition: 0.3s;
}

.nav__link:hover::before {
  width: 100%;
}

.burger-menu {
  display: none;
}

/* Welcome Section */
.welcome {
  margin-top: 160px;
}
.welcome .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome__title {
  font-weight: 700;
  line-height: 1.19;
  font-size: 54px;
  width: 500px;
  color: #dedede;

  margin-top: 0;
  margin-bottom: 24px;
}

.welcome__text {
  width: 395px;
  margin-bottom: 88px;
}

.welcome__img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-right: 80px;

  object-fit: cover;
  object-position: center;
}

/* Works section */
.works {
  margin-top: 145px;
}

.works__btn {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin-bottom: 80px;

  background-color: transparent;
  border: none;

  font-family: "Manrope";
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: #dedede;
  opacity: 0.7;
}

.works__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;

  padding-top: 140px;
}

.work {
  height: 888px;
  position: relative;
}

.work:nth-child(odd) {
  margin-top: -140px;
}

.work__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.work__name {
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* InVersion */
  font-weight: 700;
  font-size: 40px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s;
}

.work__name:hover {
  opacity: 1;
}

/* Projects section */
.projects {
  margin-top: 240px;
}

.projects--title {
  margin-top: 0;
  margin-bottom: 65px;
}

.projects__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.projects__img {
  width: 400px;
  height: 400px;

  object-fit: cover;
  object-position: center;
}

.projects--vertical .projects__img {
  height: 560px;
}

/* Contact section */
.contact {
  margin-top: 240px;
  margin-bottom: 120px;
}

.contact .container {
  max-width: 520px;
  text-align: center;
}

.contact__title {
  margin-bottom: 24px;
}

.contact__text {
  font-size: 26px;
  margin: 0;
  margin-bottom: 50px;
}

/* Footer section */
.footer {
  padding: 40px 0;
  border-top: 1px solid #696969;
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer__copy {
  margin: 0;
  font-size: 16px;
}

.footer__copy span {
  color: #cecece;
}

.socials__list {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.socials__link:hover {
  transition: opacity 0.3s;
  opacity: 0.7;
}

.socials__img {
  display: flex;
}

@media (max-width: 1100px) {
  .welcome__img {
    margin-right: 0;
  }
}

@media (max-width: 950px) {
  .welcome {
    margin-top: 70px;
  }
  .welcome .container {
    flex-direction: column-reverse;
    gap: 65px;
  }

  .welcome__desc {
    text-align: center;
  }

  .welcome__title {
    width: auto;
  }

  .welcome__text {
    width: auto;
    margin-bottom: 50px;
  }

  .work {
    height: 600px;
  }

  .work__name {
    opacity: 1;
  }
}

@media (max-width: 850px) {
  .projects__img {
    width: 300px;
    height: 300px;
  }

  .works, .projects, .contact {
    margin-top: 100px;
  }
}

@media (max-width: 770px) {
  .welcome__title {
    font-size: 36px;
  }
}

@media (max-width: 770px) {
  .footer .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
}

@media (max-width: 650px) {
  .works__wrapper {
    grid-template-columns: 1fr;
    padding-top: 0;
  }

  .work:nth-child(odd) {
    margin-top: 0;
  }

  .projects__img {
    width: 100%;
    height: 360px;
  }
}

@media (max-width: 500px) {
  .nav {
    display: none;
  }

  .header {
    position: relative;
  }

  .burger-menu {
    display: block;
    background-color: transparent;
    border: 0;
    padding: 0;

    position: absolute;
    top: 29px;
    right: 15px;
  }

  .burger-menu__icon {
    width: 30px;
    height: 24px;
    object-fit: contain;
    object-position: center;
  }

  .header.header--mobile .nav {
    display: flex;
    align-self: center;
    justify-content: center;
  }
  
  .header.header--mobile .nav__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 30px;
    padding: 0;
  }


  .header.header--mobile .container {
    flex-direction: column;
    align-items: flex-start;
    grid-template: 20px;
  }
  
  .welcome__img {
    width: 240px;
    height: 240px;
  }

  .welcome__text {
    font-size: 18px;
  }

  .btn {
    padding: 16px 20px;
  }

  .works__btn {
    margin-bottom: 40px;
  }

  .work__name {
    font-size: 28px;
  }

  .title {
    font-size: 28px;
  }

  .projects--title {
    margin-bottom: 35px;
  }

  .contact {
    margin-bottom: 100px;
  }

  .contact .container {
    max-width: 270px;
  }

  .contact__title {
    margin-bottom: 12px;
  }

  .contact__text {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .welcome__title {
    font-size: 26px;
  }
}